@charset "utf-8";
body{color:#555;font-family:"brandon_textregular";background:white;font-size: 15px;position:relative;margin:0;padding:0;}
a{text-decoration:none;color:#333;}
a:hover{color:#00a651;text-decoration: none;}
.clear-both{clear:both;}
/*********top menu***********/
.scroll-group{position: fixed;z-index: 10000;background: white;width: 100%;}
.scroll-group i{color: #333 !important;}
ul{padding:0;margin:0;list-style:none;}
.main-menu-top{width:100%;border:2px solid red;background:#fff;height:500px;}
.top-menu-inf{margin:0;padding:5px;background:#f7f7f7;height:30px;}
.container-inf{margin:auto;padding-left: 0px;padding-right:15px;height:20px;width:1220px;}
.container-inf ul{list-style:none;margin:0;}
.container-inf ul li{float:left;margin-right:10px;}
/**/
.main-menu-search{width:100%;background:white;margin:0;}
.container-main{margin:auto;width:1250px;padding:0 15px 0 15px;height:95px;}
.left-main{width:25%;float:left;}
.logo-shop{margin:0;margin-left:47px;}
.logo-shop img{width:95px;height:95px;margin:0;}
/**/
.middle-main{padding:15px;width:45%;float:left;margin:0;}
ul.suggestion-keyword{padding:5px 0 0 3px;list-style:none;}
ul.suggestion-keyword li{display:inline-block;font-style:italic;}
ul.suggestion-keyword li.title{padding-right:10px;font-style:normal;}
/**/
#txt-keyword{border:1px solid green;border-radius:3px;font-size:14px;width:70%;height:35px;padding:0 10px 0 10px;}
.fr-searchbox-main{position:relative;}
.fr-searchbox-main button.btn-submit{background:green;border-radius:3px;width:100px;height:35px;right:0;top:0;position:relative;color:white;border:1px solid transparent}
/**/
.right-main{width:25%;padding:15px;float:right;margin:0;}
.ul-controls-box{list-style:none;margin:0;padding:0;text-align:right;}
.ul-controls-box li{list-style-type:none;display:inline-block;margin:0 7px;position:relative;}
.fas{margin:0 auto;display:block;height: 25px;}
.ul-controls-box .inf{margin:-3px auto 0;font-size:14px;display:block;text-align:center;}
.search-order .fas{margin-right:40px;}
.cart .fas{margin-right:20px;}
.account-user .fas{margin-right:25px;}
.login-dropmenu{margin: 0;padding: 0;position: absolute;z-index: 30000;list-style: none;top:100%;background: #fff;left: -22px;border: 2px solid beige;display: none;}
.login-dropmenu li.login-method{margin: 0;text-align: left;}
.login-dropmenu li >a{padding:10px;clear: both;font-weight: 400;color: #333;display: block;white-space: nowrap;}
.login-dropmenu li >a:hover{background-color: #f5f5f5;}
.login .fas{margin-right: 5px;}
.nofollow .fa {margin-right: 4px;}
.login-method .nofollow{padding-right: 25px;}
.account-user:hover .login-dropmenu{display: block;}
/**/
.main-menu{background:#00a651;}
.container-menu{width:1250px;padding:0 15px 0 15px;margin:auto;}
ul.nav-navbar{position:relative;list-style:none;margin:0;}
.container-menu ul li{display:inline-block;position:relative;}
ul.nav-navbar li.menu-items{color:transparent;padding:10px 15px;}
.container-menu ul li a{color:#fff;font-size:18px;}
.container-menu ul li:hover{background:#0c6136;}
/**/
#slider{padding-top: 180px;height:450px;}
#slider .container{width:1250px;margin-left:auto;margin-right:auto;padding:0 15px 0 15px;height:437px;}/**/
#sliderbar-menu{width:25%;float:left;position:relative;padding-left:15px;}
.box-vertical-menu{margin:0;padding:0;}
.row{height:437px;width:1250px;}
h4.title{height:40px;line-height:40px;background:#00a651;text-align:center;font-weight:800px;font-size:16px;color:#fff;margin:0;padding:0;font-family:"brandon_textbold";display:block;}
.btn-icon-list{height:40px;width:40px;background:#0c6136;float:left;text-align:center;font-size:18px;}
/**/
.vertical-menu-content{position:relative;}
.vertical-menu-content ul li{position:unset;padding:7px 10px 7px 5px;border:1px solid #d0cbcb;}
.vertical-menu-content ul li a{font-size:100%;}
.vertical-menu-content ul li img.icon-menu{width:20px;height:20px;margin-right:25px;}
.menu-list{overflow:hidden;width:auto;height:398px;}
ul.container-all-name-list{border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:2px solid #00a651;min-height:370px;}
.fa-caret-right{margin-right:15px;}
li.has-child{display:block;position:absolute;}
li.has-child ul{border-left:0;border-top:0;top:0;height:398px;;}
.container-all-name-list .menu a{display:flex;width:270px;}
.menu-list li:hover .menu-child{display:block;}
.menu-child{width:650px;position:absolute;left:100%;top:0;background:#fff;display:none;min-width:200px;border:1px solid #ccc;z-index:1000;}
ul.level1.menu-child li{width:30%;float:left;border:none;display:list-item;}
ul.level1.menu-child li a{display:inline-block;padding-left:20px;background:url('../images/r7.png') no-repeat left center;} 
/**/
.slide-menu{width:72%;padding:0;}
.container-slider{z-index:1;position:relative;}
.carousel-indicators li{background-color:white;}
/*********Content main***********/
.content-main{width:100%;background:white;padding-top: 170px;}
.container-pr{width:1250px;padding:15px 0 15px 15px;margin:auto;}
.container-pr > h3{border-bottom:3px solid green;line-height:42px;display:inline-block;position:relative;text-transform:uppercase;font-size:20px;top:2px;font-weight:bold;margin-bottom:20px;}
#x2row{height:820px;}
.container-pr .row{height:340px;}
.col-md-3{width:20%;}
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.03)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}}
/***Trademark***/

/*Footer*/
.footer{display:block;background:#e6e6e6;}
.fist-footer{background: #fff;}
.fist-footer .container-footer{height: 80px;padding:15px 90px 15px 90px;border-top: 1px solid darkgray;}
.fist-footer .row{height: 80px;}
.item{width: 25%;padding: 0 15px;position: relative;}
.content{position: relative;padding-bottom: 30px;float: left;width: 180px;}
.content h3{color: #00a651;font-size: 15px;text-transform: uppercase;font-weight: 800;}
.content p{font-size: 15px;line-height: 20px;}
.item{padding: 0 15px;}
.item i{font-size: 35px;color: #00a651;margin-right: 10px;float: left !important;}
.container-footer{width:1250px;padding:15px 0 15px 0;margin:auto;}
.address{width:100%;font-size:18px;}
.address p{margin:0 0 10px;}
.address p img{height:95px;width:250px;margin-top:40px;}
/*css crroll*/
.main-menu-search .vertical-menu-content{position:absolute;background:white;z-index:2000;display:none;width: 100%;}
.hide-menu{display: none !important;}
.active-menu{display: block !important;padding-top: 13px;padding-left: 0;}
.start-menu{display: none;}
/**/
#lblCartCount {font-size: 12px;background: #ff0000;color: #fff;padding: 0 5px;vertical-align: top;margin-left: -10px;}

